h1{
	text-align:center;
	background-color:white;
	
}

h3{
	text-align:center;
	color:white;
}

.jumbotron{
	background-image: url(../image/blue.jpg);
	/*background-image: url(../image/red.jpg);*/
}

.container{
	background-image: url(../image/train.jpg);
}


